/* Navbar.module.css */

/* Add styles for the side menu on small screens */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #28293e;
}

.navLinks {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.navLinks li {
    padding: 5px 10px;
}

.navLinks a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;  /* Hide by default, shown on small screens */
    font-size: 30px;
    cursor: pointer;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reminderIcon {
    position: relative;
    cursor: pointer;
}

.reminderBadge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50%;
}

.logout {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.logoutdropown {
    background-color: red;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    display: none;
}

.reminderDropdown {
    position: absolute;
    background-color: #333;
    color: white;
    width: 200px;
    padding: 10px;
    top: 35px;
    right: 0;
    border-radius: 5px;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .navLinks {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #28293e;
        padding: 20px;
    }

    .logout {
        display: none
;    }

    .logoutdropown{
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navLinks.active {
        display: flex; 
    }
}
